<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Wearhaus.WearhausArc" Publisher="CN=0549E365-B657-4981-93B6-C6C578780710" Version="1.2.0.0" />
  <Properties>
    <DisplayName>Wearhaus Arc</DisplayName>
    <PublisherDisplayName>Wearhaus</PublisherDisplayName>
    <Logo>Assets\logo_white_transparent50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="SDKSample.App" Executable="$targetnametoken$.exe" EntryPoint="SDKSample.App">
      <m2:VisualElements DisplayName="Wearhaus Bluetooth App" Description="Bluetooth Firmware Update App for Wearhaus Arc" ForegroundText="light" BackgroundColor="#00bccc" Square150x150Logo="Assets\logo_wordmark_white_no_bg150x150.png" Square30x30Logo="Assets\logo_white_transparent30x30.png">
        <m2:DefaultTile ShortName="Wearhaus" DefaultSize="wide310x150Logo" Wide310x150Logo="Assets\logo_wordmark_white_no_bg310x150.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\logo_wordmark_white_no_bg620x300.png" BackgroundColor="#00bccc" />
        <m2:ApplicationView MinWidth="width500" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="proximity" />
    <m2:DeviceCapability Name="bluetooth.rfcomm">
      <m2:Device Id="any">
        <m2:Function Type="serviceId:00001107-D102-11E1-9B23-00025B00A5A5" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>