<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="Wearhaus.WearhausArc" Publisher="CN=0549E365-B657-4981-93B6-C6C578780710" Version="1.1.0.4" />
  <mp:PhoneIdentity PhoneProductId="cac36888-138d-4fe2-843e-62ead1a0f55a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Wearhaus Arc</DisplayName>
    <PublisherDisplayName>Wearhaus</PublisherDisplayName>
    <Logo>Assets\logo_white_transparent50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="SDKSample.App" Executable="$targetnametoken$.exe" EntryPoint="SDKSample.App">
      <m3:VisualElements DisplayName="Wearhaus Bluetooth App" Description="Bluetooth Firmware Update App for Wearhaus Arc" ForegroundText="light" BackgroundColor="#00bccc" Square150x150Logo="Assets\logo_wordmark_white_no_bg150x150.png" Square44x44Logo="Assets\logo_white_transparent44x44.png">
        <m3:DefaultTile ShortName="BluetoothRfcommChat C#" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\logo_wordmark_white_no_bg310x150.png" Square71x71Logo="Assets\logo_white_transparent71x71.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\logo_wordmark_white_no_bg480x800.png" BackgroundColor="#00bccc" />
        <m3:ApplicationView MinWidth="width320" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="proximity" />
    <m2:DeviceCapability Name="bluetooth.rfcomm">
      <m2:Device Id="any">
        <m2:Function Type="serviceId:00001107-D102-11E1-9B23-00025B00A5A5" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>